.header{
    font-size: 30px;
    width: 400px;
    text-align: center;
    justify-content: center;
    margin-left: 550px;
}
.header span{
    font-size: 75px;
    color:rgb(230, 114, 59); 
    
}

.about span{

    color: rgb(230, 114, 59);
}

.education span{
    color: rgb(230, 114, 59);
}

.skills span{
    color: rgb(230, 114, 59);
}

.projects span{
    color: rgb(230, 114, 59);
}

.goals span{
    color: rgb(230, 114, 59);
}

.tools span{
    color: rgb(230, 114, 59);
}

.bmi span{
    color: blueviolet;

}

.text span{
    color: blueviolet;
}

.attendance span{
    color: blueviolet;

}

.AI span{
    color: blueviolet;

}

.calc span{
    color: blueviolet;

}

.gallery span{
    color: blueviolet;

}


.puja span{
    color: rgb(238, 34, 116);
    text-decoration:underline;
    font-weight: bold;
}
.ipu span{
    color: rgb(238, 34, 116);
    text-decoration:underline;
    font-weight: bold;

}
.web span{
    color: rgb(238, 34, 116);
    text-decoration:underline;
    font-weight: bold;

}
.sociallinks span{
    color: rgb(230, 114, 59);

}

body{
    background-image: url("portfolio.jpg");
    background-size: 100%;
    background-position:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo{
    width: 120px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 2%;

}

.logos{
    width: 160px;
    cursor: pointer;
    
}

.logoss{
    width: 160px;
    cursor: pointer;
}
.logosss{
    width: 160px;
    cursor: pointer;

}


ul.circle {
    list-style-type: circle; 
  }

li {
    font-weight: bold;
    margin-bottom: 5px;
}


.project {
    
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 5px;
}


@media only screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .logo {
        width: 80px;
    }

    h2 {
        font-size: 20px;
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
  
    bottom: 0;
    width: 100%;
}


